<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>Welcome to <%= title %></h1>

    <a href="/">Home</a>
    <a href="/author">Author</a>

    <p>The web site where you can create your own games!</p>
  </body>
</html>
