
<div class="wideRow">
<label for="pista"  class="itemNarrow">Introduzca pista:</label>
<input type="text" class="itemWide" id="pista" name="tip" value="<%= tip.text %>" placeholder="Tip" autocomplete="off"/>
</div>


<br/>
<a href="/goback"><button type="button">Cancel</button></a>

<input type="submit" value="Save">
