
<div class="wideRow">
<label for="preg"  class="itemNarrow">Question:</label>
<input type="text" class="itemWide" id="preg" name="question" value="<%= quiz.question %>" placeholder="Question" autocomplete="off"/>
</div>


<div class="wideRow">
<label for="resp"  class="itemNarrow">Answer:</label>
<input type="text" class="itemWide" id="resp" name="answer" value="<%= quiz.answer %>" placeholder="Answer" autocomplete="off"/>
</div>

<br/>

<label for="img">Attach file:</label>
<input type="file" id="img" name="image"/>

<br/>

<% if (quiz.id) { %>
<label for="img">Keep the current attached file:</label>
<input type="checkbox" name="keepAttachment" value="1" checked>
<% } %>

<br/>

<a href="/goback"><button type="button">Cancel</button></a>

<input type="submit" value="Save">
