

<h1>
    Play:
</h1>

<form method="get" action="/quizzes/<%= quiz.id %>/check">


    <div class="quizItem">

        <div>
            <% var attachment = quiz.attachment; %>
            <% include ../attachments/_show %>
        </div>

        <div>
            <% include ../favourites/_stars.ejs %>
            <br/>
            <b><%= quiz.question %></b>

            <div class="wideRow">
                <input type="text" class="itemWide" name="answer" value="<%= answer %>" placeholder="Answer" autocomplete="off"/>
                <input type="submit" class="itemNarrow" value="Check">
            </div>

            <small> by <%= quiz.author ? quiz.author.username : "Anonymous" %> </small>
        </div>
    </div>

</form>


<h1>
    Tips:
</h1>

<% if (session.user) { %>
    <% include ../tips/new %>
<% } %>

<% var tips = quiz.tips; %>
<% var quizId = quiz.id; %>
<% var quizAuthorId = quiz.authorId; %>

<% include ../tips/index %>


<a href="/quizzes"><button>Go back</button></a>
