
<div class="right">
    <small> (by <%= quiz.author ? quiz.author.username : "Anonymous" %>) </small>
</div>

<h1>
    Show question:
</h1>

<ul>
    <li>Question: <b><%= quiz.question %></b></li>
    <li>Answer: <b><%= quiz.answer %></b></li>
</ul>


<h1>
    Tips:
</h1>

<% if (session.user) { %>
    <% include ../tips/new %>
<% } %>

<% var tips = quiz.tips; %>
<% var quizId = quiz.id; %>
<% var quizAuthorId = quiz.authorId; %>

<% include ../tips/index %>


<a href="/goback"><button>Go back</button></a>
